:root {
    --text: #333333;
    --url: #777777;
    --main: #10C10C;
    --main-darker: #3d7e3d;
}

header {
    text-align: center;
    border-bottom: thin lightgrey solid;
    margin-top: 12px;
    margin-bottom: 24px;
}

header h1 {
    font-size: 42px;
    color: var(--main);
    margin-bottom: 0;
}

header p {
    color: var(--main-darker);
    font-size: 1.1em;
}

h1,h2,h3 {
    color: var(--main-darker);
}

a {
    text-decoration: none;
    color: var(--url);
}

a:hover {
    color: var(--main);
}

.container {
    color: var(--text);
    width: 960px;
    margin: 0 auto;
}

.rc-slider {
    margin: 1em auto;
    width: 98%;
}

.rc-slider-with-marks {
    padding-bottom: 2em;
}

.rc-slider-track {
    background-color: var(--main-darker);
}
.rc-slider-dot-active {
    background-color: var(--main);
    border-color: var(--main-darker);
}
.rc-slider-handle {
    border-color: var(--main-darker);
}
.rc-slider-handle:hover {
    border-color: var(--main);
}